#content {
  float: right;
  width: 76%;
  background-color: #E9E9E9;
}
#navbar {
  float: left;
  width: 24%;
  /*background-color: #E9E9E9;*/
  background-color: white;
}
#navbar>div {
  display: inline-block;
  vertical-align: middle;
}

.textText {
  margin-left: 2px;
  color: #7F7F7F;
}
#logoImage{
  width: 30%;
  text-align: center;
}

#theImg {
  width: 30%;
  max-width: 100px;
  height: auto;
}
#quesBuilderText{
  margin-left: 20px;
  color: #06252D;
  font-weight: bolder;
}
#textImg {
  width:40%;
  max-width: 40px;
  height:auto;
  margin-left: 20px;
  float: left;
}

#textText {
  margin-left: 10px;
  float: left;
  color: #7F7F7F;
}

#multipleChoiceImg {
  width:30%;
  max-width: 40px;
  height:auto;
  margin-left: 20px;
  float: left;
}

#dropdownImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}

#starRatingImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}

#ratingScaleImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}

#fileUploadImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}


#datetimeImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}

#imageImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}

#sliderImg {
  width:30%;
  max-width: 40px;
  height: auto;
  margin-left: 20px;
  float: left;
}

#welcomeText{
  text-align: center;
}
#welcomeDescriptionText{
  text-align: center;
}


.menuButtonClass{
  background-color: white;
  border: none;
  outline: none;

}
