body{
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0px;
	text-align: center;
}

.decision{
	font-size:10pt;
	font-family:"helvetica";
}

.followupSteps{
	font-size:10pt;
	margin: auto;
	font-family:"helvetica";
}

table {
  margin: 0 auto;
}
