body{
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

img{
	height: 100%
}

.button{
	background-color: white;
    border: none;
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-top: -60px;
		margin-left: 20px;
}

.decision{
	font-size:10pt;
	font-family:"helvetica";
}

.followupSteps{
	font-size:10pt;
	margin: auto;
	font-family:"helvetica";
}

table {
  margin: 0 auto;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

td{
		text-align: center;
		font-family:"helvetica"
}
