
<link rel ="stylesheet"  type ="text/css" href ="static/CSS/style.css">
<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script  type="text/javascript" src="static/Scripts/script.js"></script>
{% block body %}

<!---------- Top Container ----------->
<div class = "topContainer" >
    <div class ="logoContainer" >
    <img class = "barImg" src="static/Images/decision_tracking_logo.png" >
    </div>
	<div class = "menuContainer" >

  		<button id = "view_question" class = "menuButtonClass" >View Questions</button>
  		<button id = "new_question" class = "menuButtonClass">Create New Question</button>
  		<button id = "view_decision" class = "menuButtonClass">View Decisions</button>
  		<a style= "float:right;margin-right:20px;" href='/logout'>Logout</a>
  	</div>
  	<div class ="sidebarContent" >
   	</div>
</div>

<!----------Main Body Container ----------->
<div id = "mainBody" class = "mainbodyContainer" >
	<div id= "contextBar" class = "contextbarContainer">
	     <h1 id= "contextheader" ></h1>
	</div>
	<div id= "infoBar" class = "infobarContainer">
	     <h1 id = "infoheader" ></h1>
	</div>
	<div id ="mainbodyContent" class = "mainbodycontentContainer">
	</div>
</div>


{% endblock %}
